section.agb
  .agb__slide(style="background-image: url('img/agb.jpg')")
    .container-new
      h4 ALLGEMEINE GESCHÄFTS BEDINGUNGEN bei NRV | WAAK
  .container-new.agb-content
    .agb-content__datenshutz
      h1 ALLGEMEINE GESCHÄFTS BEDINGUNGEN
      div
        h6 1. Allgemeines
        br
        p Die nachstehenden Allgemeinen Geschäftsbedingungen gelten für alle von XXV Versicherungsmakler GmbH & Co. KG Herbststr. 3, 83620 Feldkirchen-Westerham
        p zur Verfügung gestellten Leistungen. Durch die Nutzung der Internetseiten und des Angebots von XXV Versicherungsmakler GmbH & Co. KG sowie der telefonischen
        p und schriftlichen Beratung, gelten diese Bedingungen als verbindlich vereinbart.
        br
        p XXV Versicherungsmakler GmbH & Co. KG ist ständig um Richtigkeit und Aktualisierung des zugrunde liegenden Datenmaterials bemüht, kann dafür aber keinerlei
        p Gewähr oder Haftung übernehmen. Insbesondere wird darauf hingewiesen, dass ein Vergleich der Versicherungsgesellschaften nur erfolgt, sobald dies gewünscht wird.
        br
        p Es kann weitere Angebote mit günstigeren oder teureren Beiträgen oder besseren Bedingungen geben.
        br
        h6 2. Versicherungsvermittlung / Beratung
        br
        p Der Kunde/ die Kundin wünscht die beantragte Versicherung mit dem gewählten Tarif, bei einer von XXV Versicherungsmakler GmbH & Co. KG angebotenen
        p Versicherungsgesellschaft. Eine darüber hinausgehende  Beratung wird ausdrücklich nicht gewünscht, auch nicht für weitere existenzwichtige Versicherungen.
        p Es wurde keine Basisberatung gewünscht.
        br
        p Hierzu folgender Hinweis:
        p Ein Beratungsverzicht kann sich nachteilig auf die Möglichkeit des Versicherungsnehmers gegen den Versicherungsvermittler einen Schadenersatzanspruch
        p nach § 42 e VersVermG (entspricht § 63 VVG) geltend zu machen auswirken.
        br
        h6 3. Verweise und Links
        br
        p Die auf unseren Internetseiten enthaltenen Angaben und Informationen wurden sorgfältig erstellt und ersetzen keine persönliche Beratung. Für Richtigkeit,
        p Vollständigkeit und Aktualität übernehmen wir keine Haftung. Gleiches gilt auch für Websites, auf die über Hyperlink verwiesen wird. Es gilt ausschließlich
        p deutsches Recht.

        p Es besteht ein Haftungsausschluss für Verweise und Links auf andere Internetseiten. Wir haben keinen Einfluss auf die Gestaltung und auf die Inhalte der
        p verlinkten Internet-Seiten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung entstehen, haftet allein
        p der Anbieter der verlinkten Internet-Seite. Dieser Haftungsausschluss gilt für alle Links/ Verweise auf den Seiten von XXV Versicherungsmakler GmbH & Co. KG.
        br
        h6 4. Einzelmaklervertrag:
        br
        p Der Einzelmaklervertrag gilt ab dem Datum, ab dem der Antrag auf Versicherungsschutz über XXV Versicherungsmakler GmbH & Co. KG gestellt wird.
        p Rechtsgültigkeit erlangt der Einzelmaklervertrag auch ohne Unterschrift für die vermittelte Versicherung.
        br
        p Der Einzelmaklervertrag gilt nur für die Betreuung und Verwaltung der vermittelten Versicherung. Nach Rücksprache mit dem
        p Versicherungsnehmer dürfen Veränderungen oder Kündigungen vorgenommen werden. XXV Versicherungsmakler GmbH & CO. KG haftet nur mit
        p der Höhe der gesetzlich vorgeschriebenen Berufshaftpflichtversicherung.
        br
        p Neben der Vermittlung und Verwaltung der Versicherungsverträge unterstützt XXV Versicherungsmakler GmbH & Co. KG den
        p Versicherungsnehmer auf Wunsch bei der Schadensregulierung des vermittelten Vertrag.
        br
        p Die Tätigkeit von XXV Versicherungsmakler GmbH & Co. KG kann auch auf bereits bestehende Versicherungsverträge des Versicherungsnehmers
        p ausgedehnt werden. Eine spätere Ausdehnung auf weitere oder andere schon bestehende Versicherungen des Versicherungsnehmers bedarf einer
        p schriftlichen Vereinbarung.
        br
        p Änderungen der Risikoverhältnisse zeigt der Versicherungsnehmer unverzüglich dem Makler oder dem Versicherer an. Der Makler wird von Fall zu Fall tätig.
        p Der Auftraggeber willigt ein, dass der Makler ihn zu Werbezwecken telefonisch, per E-Mail oder schriftlich kontaktieren darf. Diese Regelung gilt auch über
        p die Beendigung des Maklervertrages hinaus, sofern der
        br
        p Auftraggeber sein Einverständnis nicht widerrufen hat. Der Widerruf zu dieser Regelung kann jederzeit erfolgen
        br
        p Ansprüche auf Schadenersatz aus dem Einzelmaklervertrag wegen einer fahrlässigen begangenen Pflichtverletzung verjähren in drei Jahren. Sollte eine
        p Vorschrift dieses Vertrages unwirksam sein oder durch die Rechtsprechung oder durch gesetzliche Regelungen   unwirksam werden oder sollte sich eine
        p Lücke herausstellen, so hat dies nicht die Unwirksamkeit des gesamten Vertrages zur Folge. Die nichtige Bestimmung oder die Schließung der Lücke hat
        p durch eine Regelung zu erfolgen, die dem angestrebten Zweck am ehesten entspricht.
        br
        h6 5. Datenschutz
        br
        p Die Datenschutzerklärung finden Sie unten auf unserer Seite unter Datenschutz oder klicken sie hier: <a href="#">Datenschutz</a>
        br
        h6 6. Vergütung
        br
        p Für unsere Tätigkeit fallen für den Kunden keine zusätzlichen Kosten an. Die Vergütung erfolgt als Courtage durch das Versicherungsunternehmen
        p und ist Bestandteil der Versicherungsprämie. Die genannten Prämien sind Endprämien incl. Versicherungssteuer.
        br
        h6 7. Vermögenss chadenhaftpfli chtversicherung
        br
        p Es besteht die gesetzlich vorgeschriebene Vermögensschadenha ftpflichtversicherung.
        br
        h6 8. Einwilligungserklärungen
        br
        p XXV Versicherungsmakler GmbH & Co. KG
        p Herbststr. 3
        p 83620 Feldkirchen – Westerham 
        p Telefon:+49 (0) 8063 461 400 0
        p Fax: +49 (0) 8063 972 139 (Das ist nicht die Faxnummer von einer Versicherungsgesellschaft, sondern von xxv24!)
        p E-Mail: <a href="mailto:info@xxv24.de">info@xxv24.de</a>
        p Steuer-Nr. 156/183/02102
        p Amtsgericht Traunstein, HRA 10549
        br
        p Komplementärin:
        p XXV Versicherungsmakler Verwaltungs GmbH
        p Herbststr. 3, 83620 Feldkirchen – Westerham
        p Amtsgericht Traunstein, HRB 20441
        br
        p.bold Geschäftsführung:
        br
        p Klaus Stübler
        br
        p.bold Versicherungsve rmittlerregister:
        br
        p <a href="https://www.vermittlerregister.info/" target="_blank">www.vermittlerregister.info</a>
        br
        p Register-Nr.: D-MDZB-DR8JS-53
        br
        p Erlaubnis nach § 34 d Abs. 1 GewO, Versicherungsmakler
        br
        p XXV Versicherungsmakler GmbH & Co. KG ist ein unabhängiger Versicherungsmakler.
        br
        p Als unabhängiger Versicherungsmakler halten wir keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital eines
        p Versicherungsunternehmens. Ein Versicherungsunternehmen hält ebenfalls keine direkten oder indirekten Beteiligungen an
        p XXV Versicherungsmakler GmbH & Co. KG.
        br
        p.bold Schlichtungsstellen:
        br
        p Versicherungsombudsmann e. V., Postfach 08 06 32, 10006 Berlin
        p <a href="https://www.vermittlerregister.info/" target="_blank">www.Versicherungsombudsmann.de</a> Tel.: 0800 / 3696000
        br
        p Ombudsmann Private Kranken- und Pflegeversicherung, Postfach 06 02 22, 10052 Berlin
        p <a href="https://www.vermittlerregister.info/" target="_blank">www.Versicherungsombudsmann.de</a> Tel.: 0800 / 3696000
        br
        h6 9. Inhalte
        br
        p Inhalte und Texte ersetzen keine Beratung, sondern dienen nur zur Erstinformation. Daher übernehmen wir auch keine Haftung bei Rückfregen stehen wir Ihnen gerne unter <a href="mailto:info@xxv24.de">info@xxv24.de</a> zur Verfügung.
        br
        h6 10. Schlussbestimmungen
        br
        p Änderungen oder Ergänzungen dieser Allgemeinen Geschäftsbedingungen müssen ausdrücklich schriftlich zwischen den Parteien vereinbart werden.
        p Sollte eine Vorschrift dieses Vertrages unwirksam sein oder durch die Rechtssprechung oder durch gesetzliche Regelung unwirksam werden, so hat
        p dies nicht die Unwirksamkeit des gesamten Vertrages zur Folge. Eine unwirksame Bestimmung ist durch eine Regelung zu ersetzen, die dem angestrebten
        p Zweck am ehesten entspricht. Gerichtsstand ist Traunstein.






