section.product-why
  padding: 45px 0
  background-color: $grey-bg
  h2
    margin-top: 0
  .product-content-wrapper
    padding-left: 180px
    padding-right: 220px
    @media (max-width: 1000px)
      padding-right: 40px
    @media (max-width: 900px)
      padding-right: 0
      padding-left: 60px
    @media (max-width: 500px)
      padding-left: 28px
    p
      margin: 0
      font-size: 18px
      color: $main-text
      line-height: 29px