section.product-why#why
  .container-new
    h2.h2-docura Warum die private Haftpflichtv ersiche rung so wichtig ist
    .product-content-wrapper
      p Die private Haftpflichtversicherung gehört zu den wichtigsten Versicherungen überhaupt. Warum? Schon ein kleiner Moment der Unachtsamkeit kann dazu führen, dass Sie großen Schaden verursachen. Das können Sachschäden, aber auch Vermögensverluste oder Personenschäden sein. Insbesondere wenn ein oder sogar mehrere Menschen zu Schaden kommen, kann der Anspruch auf Schadensersatz in die Millionen gehen. Und Sie haften vor dem Gesetz in vollem Umfang. Ohne eine private Haftpflichtversicherung können die finanziellen Folgen im schlimmsten Fall existenzbedrohend für Sie sein. Egal, ob Sie in Berlin, Hamburg oder anderswo leben, mit der Privathaftpflicht von Domcura brauchen Sie sich keine Sorgen zu machen.
