#burgerDocuraPopupProduct
  @media (min-width: 900px)
    display: block
  @media (min-width: 1130px)
    display: none
  .burger-content
    height: calc(100vh - 145px)
    overflow: auto
  header
    display: flex
    justify-content: space-between
    padding-top: 25px
    padding-left: 70px
    padding-bottom: 35px
    border-bottom: 1px solid $grey-lines
    align-items: center
    @media (max-width: 350px)
      padding-left: 50px
    .burger-icons-wrapper
      .burger-logo
        img
          height: 30px
          width: 119px
          padding-right: 15px
          margin-right: 15px
          border-right: 1px solid #9b9b9b
          @media (max-width: 350px)
            height: 25px
            width: 100px
        & + a
          vertical-align: middle
  .burger-content
    padding-top: 55px
    text-align: center
    ul
      padding: 0
      list-style: none
      .producte
        margin-right: 10px
        color: $main-text
        transition: $t
      .open
        color: $main-docura
      img
        transform: rotate(0deg)
        transition: $t
      .openimg
        transform: rotate(180deg)
      li
        font-size: 16px
        margin-bottom: 50px
        a
          text-decoration: none
          color: $main-text
          transition: $t
          &:hover
            color: $main-docura
        .submenu-wrapper
          display: none
          padding-top: 50px
          a
            color: $header-phone
            &:hover
              color: $main-docura
  .phone
    @media (max-width: 560px)
      display: none
    a
      color: $header-phone
      font-size: 16px
      text-decoration: none
    .docura-icon-header-phone
      vertical-align: middle
      margin-right: 10px
  .phone-footer
    display: none!important
    @media (max-width: 560px)
      display: block!important
.hiddenone
  display: none!important
.visuallyhiddenone
  opacity: 0
.opened
  top: 0!important
  bottom: 0!important
.nav-icon4.nav-burger
    display: none
    width: 25px
    height: 18px
    position: fixed
    transform: rotate(0deg)
    transition: .5s ease-in-out
    cursor: pointer
    top: 30px
    z-index: 1000
    span
      display: block
      position: absolute
      height: 2px
      width: 100%
      background: #464646
      opacity: 1
      left: 0
      transform: rotate(0deg)
      transition: .25s ease-in-out
      &:nth-child(1)
        top: 0px
        transform-origin: left center
      &:nth-child(2)
        top: 8px
        transform-origin: left center
        width: 20px
      &:nth-child(3)
        top: 16px
        transform-origin: left center
    &.open span
      &:nth-child(1)
        transform: rotate(45deg)
        top: -3px
        left: 0px
      &:nth-child(2)
        width: 0%
        opacity: 0
      &:nth-child(3)
        transform: rotate(-45deg)
        top: 15px
        left: 0px
    @media (max-width: 1130px)
      display: block
