extends common/layout

include common/mixins

block vars
    - var title = "Impressum" //120 символов
    //- var bodyClass = "wrap_this_page"

block header
  include index/main_page_header_1/header

block content
  include impressum/impressum

block footer
  include index/footer/footer

block modals
  include index/burger/burger