extends common/layout

include common/mixins

block vars
    - var title = "Docura" //120 символов
    //- var bodyClass = "wrap_this_page"

block header
  include index/main_page_header_1/header

block content
  include index/slider/slider
  include index/advantages/advantages
  include index/products/products
  include index/info/info

block footer
  include index/footer/footer



block modals
  include index/burger/burger
