extends common/layout

include common/mixins

block vars
    - var title = "Product" //120 символов
    //- var bodyClass = "wrap_this_page"

block header
  include product/header/header

block content
  include product/slide/slide
  include product/advantages/advantages
  include product/steps/steps
  include product/why/why
  include product/calculator/calculator
  include product/falle/falle
  include product/falle-true/falle
  include product/faq/faq

block footer
  include index/footer/footer

block modals
  include product/burger/burger