section.info,
section.falle,
section.optionale,
section.haufig
  +main-text()
  p
    margin: 0
.accordions-all
    padding-left: 180px
    padding-right: 220px
    //margin-bottom: 160px
    color: $main-text
    @media (max-width: 1000px)
      padding-left: 60px
      padding-right: 60px
    @media (max-width: 720px)
      padding-left: 0
      padding-right: 0
      margin-bottom: 80px
    h4
      +accordeon-headers()
      color: $black-headers
      position: relative
      //transition: $t
      transition: all .1s ease-out
      margin: 0
      @media (max-width: 720px)
        font-size: 16px
      a
        // max-width: 90%
        padding-right: 10%
        text-decoration: none
      &:after
        position: absolute
        content: url(../img/icons/plus.svg)
        right: 0
        top: 0
        opacity: 1
        //transition: $t
        transition: all .1s ease-out
      &:before
        position: absolute
        content: url(../img/icons/minus.svg)
        right: 0
        top: -7px
        opacity: 0
        //transition: $t
        transition: all .1s ease-out
    .open
      color: $main-docura
      &:after
        opacity: 0
      &:before
        opacity: 1
    a
      display: block
      outline: none
      text-decoration: none
    .panel-default
      border: none
      box-shadow: none
      border-bottom: 1px solid $grey-lines
      &> .panel-heading
        background-color: #ffffff
        padding: 25px 0
        @media (max-width: 720px)
          padding: 15px 0
      .panel-collapse
        .panel-body
          border: none
          padding: 0 100px 25px 0
          @media (max-width: 600px)
            padding: 0 0 25px 0



