.container-new
  .nav-icon4
    span
    span
    span
#burgerDocuraPopup.hiddenone.visuallyhiddenone
  .container-new
    header
      .burger-icons-wrapper
        a(href="#").burger-logo
          img(src="img/docura-logo.png", alt="docura-logo")
        a(href="#").icon.docura-icon-waak-small-logo
      .phone
        .icon.docura-icon-header-phone
        a(href="tel:022199379931") 0221 993 799 31
    .burger-content
      ul
        li
          a(href="#vorteile") Vorteile
        li
          a(href="#") Wie man schließt
        li
          a(href="#") Online Abschließen
        li
          a(href="#") Versicherter Vorgang
        li
          a(href="#").producte Producte
          img(src="img/icons/header-arrow.svg", alt="header-arrow")
          .submenu-wrapper
            ul
              li
                a(href='product.html') Wohngebäudeversicherung
              li
                a(href='product.html') Hausratversicherung
              li
                a(href='product.html') Rechtsschutzversicherung
              li
                a(href='product.html') Tierhalterhaftpflicht
              li
                a(href='product.html') Unfallversicherung
              li
                a(href='product.html') Privathaftpflichtversicherung
      .phone.phone-footer
        .icon.docura-icon-header-phone
        a(href="tel:+ 49 431 54654-0") + 49 431 54654-0
