#accordion3
  h4
    a
    &:after
      position: absolute
      content: url(../img/icons/header-arrow.svg)
      right: 0
      top: 0
      opacity: 1
      transform: rotate(0deg)
      transition: all .1s ease-out
    &:before
      position: absolute
      content: url(../img/icons/header-arrow.svg)
      right: 0
      top: 7px
      opacity: 0
      transform: rotate(180deg)
      transition: all .1s ease-out
  .open
    color: $main-docura
    &:after
      opacity: 0
    &:before
      opacity: 1