section.falle#faq
  .container-new
    h2.h2-docura Häufig gestellte Fragen
    #accordion3.panel-group(role='tablist' aria-multiselectable='true').accordions-all
        .panel.panel-default
          #heading3One.panel-heading(role='tab')
            h4.panel-title
              a(role='button' data-toggle='collapse' data-parent='#accordion3' href='#collapse3One' aria-expanded='true' aria-controls='collapse3One')
                | Was ist eine Haftpflichtversicherung und welche Schäden sind versichert?
          #collapse3One.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading3One')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading3Two.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion3' href='#collapse3Two' aria-expanded='false' aria-controls='collapse3Two')
                | Sind gemietete/geliehene Sachen auch versichert?
          #collapse3Two.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading3Two')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading3Three.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion3' href='#collapse3Three' aria-expanded='false' aria-controls='collapse3Three')
                | Sollte ich auf eine hohe Deckungssumme achten?
          #collapse3Three.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading3Three')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading3Fore.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion3' href='#collapse3Fore' aria-expanded='false' aria-controls='collapse3Fore')
                | Ist Schlüsselverlust mitversichert?
          #collapse3Fore.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading3Fore')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading3Five.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion3' href='#collapse3Five' aria-expanded='false' aria-controls='collapse3Five')
                | Sind Kinder automatisch mitversichert?
          #collapse3Five.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading3Five')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading3Six.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion3' href='#collapse3Six' aria-expanded='false' aria-controls='collapse3Six')
                | Können Kinder haftbar gemacht werden?
          #collapse3Six.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading3Six')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.