section.product-vorteile
  .product-vorteile-content-wrapper
    padding-left: 110px
    padding-right: 220px
    @media (max-width: 900px)
      padding-left: 20px
      padding-right: 20px
    @media (max-width: 500px)
      padding-left: 0
      padding-right: 0
    ul
      padding-left: 70px
      list-style: none
      margin: 0 0 40px 0
      @media (max-width: 900px)
        padding-left: 60px
      @media (max-width: 500px)
        padding-left: 46px
      li
        font-size: 18px
        color: $main-text
        line-height: 29px
        margin-top: 25px
        position: relative
        @media (max-width: 900px)
          font-size: 16px
          line-height: 24px
        &:before
          content: url(../img/icons/ok-icon.svg)
          position: absolute
          left: -44px
  a
    display: inline-block
    padding-left: 70px
    position: relative
    font-size: 14px
    color: $header-phone
    text-decoration: underline
    transition: $t
    @media (max-width: 500px)
      padding-left: 46px
    &:hover
      text-decoration: none
    &:before
      content: url(../img/icons/pdf.svg)
      position: absolute
      left: 22px
      top: -3px
      @media (max-width: 500px)
        left: 0
