section.product-vorteile#vorteile
  .container-new
    h2.h2-docura Ihre Vorteile im Überblick
    div.product-vorteile-content-wrapper
      ul
        li Hohe Versicherungssumme – 50 Millionen € für alle Personen-, Sach- und Vermögensschäden; bei Personenschäden maximal 15 Millionen € je verletzte oder getötete Person.
        li Gute Konditionen – Günstige Tarife, umfangreicher Versicherungsschutz und persönliche Beratung.
        li Weltweiter Schutz – Genießen Sie auch im Ausland optimalen Versicherungsschutz.
        li 24-Stunden-Service – Wir sind rund um die Uhr für Sie da.
        li Kündigung – Täglich kündbar, ohne langfristige Verträge.
        li Individueller Tarif nach Lebenssituation – Ob als Single, Alleinerziehende/r, Paar, oder als Familie.
        li Mehr Möglichkeiten – Optionale Zusatzleistungen für Ihre Bedürfnisse.
        li Ausgezeichnete Leistungen – Finanztest zeichnet unsere Privathaftpflichtversicherung mit „sehr gut“ aus (Heft 10/2017).
      a(href="#") Mehr details (PDF) zur Domcura Privathaftpflichtversicherung
