header.docura-header.product-header
  .container-new
    .logos
      @media (max-width: 1250px)
        margin-right: 10px
      @media (max-width: 1199px)
        //margin-right: 20px
      @media (max-width: 1130px)
        margin-left: 55px
      img
    nav
      @media (max-width: 1130px)
        display: none
      ul
        li
          margin-right: 30px
          @media (max-width: 1250px)
            margin-right: 15px
          &:hover img
          &:hover div
          a
            &:hover
          &.product
            margin-right: 0
            a
          img
          div
            ul
              li
                a
          a
    .mail
      a
      .icon
