header.docura-header.product-header
  .container-new
    .logos
      a(href='index.html')
        img(src="img/docura-logo.png", alt="docura-logo")
      a(href='#').icon.docura-icon-waak-header-logo
    nav
      ul
        li
          a(href='#vorteile') Vorteile
        li
          a(href='#wieman1') Wie man schließt
        li
          a(href='#calculator') Online Abschließen
        li
          a(href='#falle') Fälle
        li
          a(href='#faq') FAQ
        li.product
          a(href='#produkte') Produkte
          img(src="img/icons/header-arrow.svg", alt="header-arrow")
          .submenu-wrapper
            ul
              li
                a(href='product.html') Wohngebäudeversicherung
              li
                a(href='product.html') Hausratversicherung
              li
                a(href='product.html') Rechtsschutzversicherung
              li
                a(href='product.html') Tierhalterhaftpflicht
              li
                a(href='product.html') Unfallversicherung
              li
                a(href='product.html') Privathaftpflichtversicherung

    .mail
      .icon.docura-mail-icon
      a(href="mailto:info@waak-versicherungen.de") info@waak-versicherungen.de