section.falle#falle
  .container-new
    h2.h2-docura Optionale Zusatzleistungen für die Privat haftpflicht&shyversicherung
    .subheader Auf Wunsch können Sie den Umfang Ihres Versicherungsschutzes um zusätzliche Leistungen erweitern. Im Folgenden stellen wir Ihnen die häufigsten Zusatzleistungen vor:
    #accordion2.panel-group(role='tablist' aria-multiselectable='true').accordions-all
        .panel.panel-default
          #heading2One.panel-heading(role='tab')
            h4.panel-title
              a(role='button' data-toggle='collapse' data-parent='#accordion2' href='#collapse2One' aria-expanded='true' aria-controls='collapse2One')
                | Schlüsselverlust
          #collapse2One.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading2One')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading2Two.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion2' href='#collapse2Two' aria-expanded='false' aria-controls='collapse2Two')
                | Forderungsausfalldeckung
          #collapse2Two.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading2Two')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading2Three.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion2' href='#collapse2Three' aria-expanded='false' aria-controls='collapse2Three')
                | Deliktunfähige Kinder
          #collapse2Three.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading2Three')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading2Fore.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion2' href='#collapse2Fore' aria-expanded='false' aria-controls='collapse2Fore')
                | Gefälligkeitsschäden
          #collapse2Fore.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading2Fore')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading2Five.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion2' href='#collapse2Five' aria-expanded='false' aria-controls='collapse2Five')
                | Mietsachschäden
          #collapse2Five.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading2Five')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.
        .panel.panel-default
          #heading2Six.panel-heading(role='tab')
            h4.panel-title
              a.collapsed(role='button' data-toggle='collapse' data-parent='#accordion2' href='#collapse2Six' aria-expanded='false' aria-controls='collapse2Six')
                | Ehrenamt
          #collapse2Six.panel-collapse.collapse(role='tabpanel' aria-labelledby='heading2Six')
            .panel-body
              | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable VHS.