section.falle#falle
  .subheader
    padding-left: 180px
    padding-right: 220px
    @media (max-width: 900px)
      padding-left: 60px
      padding-right: 60px
    @media (max-width: 720px)
      padding-left: 0
      padding-right: 0