section.calculator#calculator
  .container-new
    //h3.h2-docura Füllen Sie die Informationen aus Privathaftpflicht:
    h2.h2-docura Füllen Sie die Informationen aus Privatha&shyftpflicht:
    .calculator-wrapper
    //.calculator-wrapper-big
      iframe#mrmoFrame(scrolling='no' border='0' style='border:0' src='https://www.mr-money.de/cookievgl.php?sp=hr&id=00206831' width='700')
    //.calculator-wrapper-small
      iframe#mrmoFrame(name='mrmoFrame' scrolling='no' border='0' style='border:0; width: 1px;min-width: 100%;*width: 100%;' src='https://www.mr-money.de/cookievgl.php?sp=phv&ur_iD=mobile&id=00206831' width='100%')
