section.calculator
  overflow: hidden
  h3
    box-sizing: border-box
    font-size: 27px
    text-align: center
    color: #ffffff
    background-color: $main-docura
    border-radius: 4px
    padding: 25px 10px
    max-width: 1030px!important
    margin-left: 50%
    transform: translateX(-50%)
    font-size: 27px
    +reg
    width: 100%
    text-transform: none
    //min-height: 70px
    line-height: 26px
    @media (max-width: 720px)
      font-size: 18px
    @media (max-width: 500px)
      padding: 10px
  // .calculator-wrapper-big
  //   @media (max-width: 1024px)
  //     display: none
  //   iframe
  //     margin-left: 50%
  //     transform: translateX(-50%)
  // .calculator-wrapper-small
  //   display: none
  //   @media (max-width: 1024px)
  //     display: block
  //   //iframe
  //     //min-height: 550px
  .calculator-wrapper
    iframe
      margin-left: 50%
      transform: translateX(-50%)
