header.docura-header
  +main-text()
  padding: 25px 0 25px 0
  justify-content: space-between
  align-content: center
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1)
  @media (max-width: 720px)
    padding: 30px 0 25px 0
  +header-text()
  position: fixed
  top: 0
  left: 0
  z-index: 10
  width: 100%
  background-color: #fff
  .container-new
    display: flex
    .logos
      margin-right: 60px
      @media (max-width: 960px)
        margin-right: 30px
      @media (max-width: 900px)
        margin-left: 55px
        margin-right: 0
      @media (max-width: 350px)
        margin-left: 50px
      img
        width: 158px
        height: 40px
        vertical-align: middle
        margin-top: -12px
        padding-right: 20px
        margin-right: 20px
        position: relative
        border-right: 1px solid #9b9b9b
        @media (max-width: 720px)
          height: 30px
          width: 119px
        @media (max-width: 350px)
          height: 25px
          width: 100px
          padding-right: 10px
          margin-right: 10px
    nav
      @media (max-width: 900px)
        display: none
      ul
        list-style: none
        padding: 0
        display: flex
        justify-content: space-between
        margin: 0
        li
          padding: 0
          margin-right: 40px
          @media (max-width: 960px)
            margin-right: 20px
          &:hover img
            transform: rotate(180deg)
          &:hover div
            visibility: visible
            opacity: 1
          a
            color: $main-text
            transition: $t
            &:hover
                color: $main-docura
          &.product
            margin-right: 30px
            a
              margin-right: 10px
          img
            transform: rotate(0deg)
            transition: $t
          div
            transition: $t
            visibility: hidden
            opacity: 0
            position: absolute
            top: calc(100% - 35px)
            z-index: 1
            margin-left: -80px
            padding-top: 55px
            background-color: transparent
            ul
              border-radius: 4px
              background-color: #fff
              box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1)
              display: block
              padding: 15px 40px
              li
                padding: 15px 0
                margin-right: 0
                a
                  display: block
                  margin: 0
          a
            +header-text()
    .mail
      flex-grow: 1
      text-align: right
      @media (max-width: 640px)
        display: none
      a
        color: $header-phone
        text-decoration: none
      .icon
        vertical-align: middle
        margin-top: -5px
        margin-right: 10px