@font-face
  font-family: 'proximabold'
  src: url('../fonts/proximanova-bold-webfont.woff2') format('woff2')
  src: url('../fonts/proximanova-bold-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'proximaextra'
  src: url('../fonts/proximanova-extrabld-webfont.woff2') format('woff2')
  src: url('../fonts/proximanova-extrabld-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'proxima'
  src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2')
  src: url('../fonts/proximanova-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

