.icon
  display: inline-block
  background-image: url(../img/icons/icons.svg)
  background-repeat: no-repeat
  &.docura-icon-document
    background-position: -431px 0px
    height: 42px
    width: 32px
  &.docura-icon-calculator
    background-position: -463px 0px
    height: 42px
    width: 33px
  &.docura-icon-like
    background-position: -398px 0px
    height: 42px
    width: 33px
  &.docura-icon-pdf
    background-position: -370px 0px
    height: 26px
    width: 28px
  &.docura-icon-waak-small-logo
    background-position: -298px 0px
    height: 16px
    width: 72px
  &.docura-icon-burger
    background-position: -89px 0px
    height: 18px
    width: 25px
  &.docura-icon-green-arrow
    background-position: -112px 0px
    height: 12px
    width: 6px
  &.docura-icon-header-phone
    background-position: -118px 0px
    height: 23px
    width: 23px
  &.docura-icon-slider-leaf
    background-position: -141px 0px
    height: 55px
    width: 140px
  &.docura-icon-plus
    background-position: -0px 0px
    height: 18px
    width: 17px
  &.docura-icon-waak-header-logo
    background-position: -17px 0px
    height: 20px
    width: 95px
  &.icon-minus
    background-position: -281px 0px
    height: 2px
    width: 17px
  &.docura-mail-icon
    background-position: -496px 0px
    height: 20px
    width: 30px