/* Color palette */
$black-headers: #1f1f1f
$main-text: #242424
$footer-text: #808080
$grey-bg: #fafafa
$grey-lines: #dadada
$header-phone: #b7b7b7
$grey-subheaders: #aaaaaa
$links: #5696e1
$drop-down-text: #f5a623
$main-green-domcura: #00c140
$second-green-domcura: #2c7d57
$main-rose: #bb417d
$second-rose: #8f1a4e
$main-red: #f61f1a
$second-red: #cd3c3c
$main-docura: #0bcf60
$second-docura: #015536

/* Text styles */
=slider-header()
  font-family: proximabold, sans-serif
  font-size: 48px
  font-weight: bold
  line-height: 0.94
  text-align: left
  color: #ffffff
  text-transform: uppercase
=accordeon-headers()
  font-family: proxima, sans-serif
  font-size: 27px
  font-weight: bold
  text-align: left
  color: $main-text
=slider-text()
  font-family: proxima, sans-serif
  font-size: 24px
  text-align: left
  color: #ffffff
=main-text()
  font-family: proxima, sans-serif
  font-size: 18px
  line-height: 1.5
  text-align: left
  color: $main-text
=header-text()
  font-family: proxima, sans-serif
  font-size: 16px
  text-align: left
  color: $main-text
  text-decoration: none
=slider-batton()
  font-family: proxima, sans-serif
  font-size: 14px
  font-weight: bold
  color: #ffffff
.h2-docura
  font-family: proximaextra, sans-serif
  font-size: 36px
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: 1
  letter-spacing: normal
  text-align: left
  color: $black-headers
  margin-top: 50px
  margin-bottom: 50px
  line-height: 54px
  padding-left: 110px
  max-width: 950px
  text-transform: uppercase
  box-sizing: content-box
  @media (max-width: 900px)
    padding-left: 0
    margin-bottom: 40px
    line-height: 42px
    font-size: 28px
.h6-docura
  font-family: proximaextra, sans-serif
  font-size: 24px
  font-weight: normal
  font-style: normal
  font-stretch: normal
  line-height: 1.25
  letter-spacing: normal
  text-align: left
  color: $main-text
  margin-top: 0
  margin-bottom: 2rem
  @media (max-width: 900px)
    font-size: 16px
    margin-bottom: 15px

=bold
  font-family: proximabold, sans-serif
=reg
  font-family: proxima, sans-serif

$t: all .4s ease-out

.hr-docura
  border-top: 1px solid #dadada!important