.container-new
  box-sizing: border-box
  max-width: 1320px
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto
  @media (max-width: 720px)
    padding-left: 40px
    padding-right: 40px
    max-width: 720px
  @media (max-width: 500px)
    padding-left: 20px
    padding-right: 20px



html
  font-size: 10px
a
  outline-style: none!important

@import 'sprites'
@import 'variables'
@import 'mixins'
@import 'fonts'

body
  position: relative
  min-width: 320px
  //word-break: break-all

.btn-primary-docura
  display: inline-block
  height: 55px
  background-color: $main-docura
  line-height: 55px
  +slider-batton()
  text-transform: uppercase
  padding: 0 20px
  cursor: pointer
  border-radius: 3px
  transition: $t
  border: none
  &:hover
    background-color: $second-docura
    color: #ffffff



/*custom start*/
@import '../../source/blocks/**/*'
//@import '_media' // Всегда в конце