footer.docura-footer
  .container-new
    .footer__main
      .footer__logos
        .logos
          a(href="#")
            img(src="img/docura-logo.png", alt="docura-logo")
          a(href="#").icon.docura-icon-waak-small-logo
        a(href="tel:022199379931").phone 0221 993 799 31
        a(href="mailto:info@waak-versicherungen.de").mail info@waak-versicherungen.de
      .footer-links-wrapper
        .footer__products
          ul
            li
              a(href='product.html') Privathaftpflicht
            li
              a(href='product.html') Hausrat
            li
              a(href='product.html') Privathaftpflicht
            li
              a(href='product.html') Hausrat
            li
              a(href='product.html') Privathaftpflicht
            li
              a(href='product.html') Hausrat
            li
              a(href='product.html') Privathaftpflicht
            li
              a(href='product.html') Hausrat
        .footer__legal
          ul
            li
              a(href="impressum.html") Impessum
            li
              a(href="datenschutz.html") Datenschutz
            li
              a(href="agb.html") AGB
  hr.hr-docura
  .container-new
    .footer__year © 2018 Docura | Waak