footer.docura-footer
  margin-top: 160px
  +main-text()
  background-color: $grey-bg
  .footer__main
    padding: 85px 110px 60px
    display: flex
    justify-content: space-between
    @media (max-width: 900px)
      flex-direction: column
      align-items: center
      padding: 55px 110px 30px
    @media (max-width: 700px)
      padding: 55px 0 30px
    .footer__logos
      display: flex
      flex-direction: column
      flex-grow: 1
      @media (max-width: 900px)
        order: 3
        text-align: center
      .logos
        margin-bottom: 50px
        @media (max-width: 500px)
          margin-bottom: 35px
        img
          height: 30px
          width: 119px
          padding-right: 15px
          margin-right: 15px
          border-right: 1px solid #9b9b9b
        .docura-icon-waak-small-logo
          vertical-align: middle
      a.phone
        font-size: 27px
        color: #141414
        text-decoration: none
        transition: $t
        &:hover
          color: $main-docura
      a.mail
        padding-top: 30px
        text-decoration: underline
        transition: $t
        font-size: 16px
        color: #141414
        &:hover
          color: $main-docura
          text-decoration: none
    .footer-links-wrapper
      flex-grow: 2
      display: flex
      @media (max-width: 900px)
        justify-content: space-around
        width: 100%
        margin-bottom: 60px
      @media (max-width: 500px)
        flex-direction: column
        text-align: center
        margin-bottom: 35px
      .footer__products
        flex-grow: 1
        font-family: proximabold
        position: relative
        &:after
          content: ''
          height: 1px
          width: 60%
          bottom: 0
          left: 50%
          transform: translateX(-50%)
          position: absolute
          background-color: $grey-lines
          display: none
          @media (max-width: 500px)
            display: block
        @media (max-width: 900px)
          flex-grow: 0
        @media (max-width: 500px)
          margin-bottom: 30px
      .footer__legal
        flex-grow: 1
        @media (max-width: 900px)
          flex-grow: 0
  .footer__year
  ul
    list-style: none
    padding: 0
    li
      margin-bottom: 30px
      a
        color: $footer-text
        font-size: 16px
        text-decoration: none
        transition: $t
        &:hover
          color: $main-docura
  hr
    margin-bottom: 25px
  .footer__year
    padding-bottom: 25px
    text-align: center
    font-size: 14px
    color: #9f9f9f
  p
    margin: 0