mixin slide
  .slide(style="background-image: url('img/slider.jpg')")
    .container-new
      .price-wrapper
        .icon.docura-icon-slider-leaf
          .price-title-1 Schon ab
          .price 192
            span  EUR
          .price-title-2 im Monat
      h4 Hausrat
      .slider-text
        p Schützen Sie alle Inhalte Ihres Haushalts. Sie müssen sich nicht länger sorgen
      a.btn.btn-primary-docura Jetzt online abschließen

section.slider
  .slider-wrapper
    +slide
    +slide
    +slide
    +slide
    +slide
    +slide
  .container-new
    .dots-wrapper
  .container-new
    .arrows-wrapper