section.slider
  padding-top: 82px
  +main-text()
  position: relative
  .slider-wrapper
    position: relative
    .slide
      background-position: 50% 50%
      background-size: cover
      height: 520px
      position: relative
      &:before
        position: absolute
        content: ''
        background-color: rgba(0, 0, 0, 0.2)
        top: 0
        left: 0
        height: 100%
        width: 100%
      .container-new
        position: relative
        padding: 170px 130px 0 130px
        @media (max-width: 900px)
          padding: 170px 60px 0 60px
        @media (max-width: 720px)
          padding: 210px  60px 210px  60px
        @media (max-width: 500px)
          padding: 200px 20px 200px 20px
      .price-wrapper
        position: absolute
        left: 130px
        top: 80px
        text-transform: uppercase
        @media (max-width: 900px)
          left: 60px
        @media (max-width: 720px)
          top: 126px
        @media (max-width: 500px)
          top: 113px
          left: 20px
        .docura-icon-slider-leaf
          position: relative
          .price-title-1,
          .price-title-2,
          .price
            position: absolute
            color: #ffffff
            font-size: 9px
          .price-title-1
            top: 6px
            left: 50%
            transform: translateX(-50%)
          .price-title-2
            bottom: 5px
            left: 50%
            transform: translateX(-50%)
          .price
            font-size: 18px
            top: 50%
            left: 50%
            transform: translate(-27%, -50%)
            width: 100%
            font-family: proximabold, sans-serif
      h4
        +slider-header()
        margin: 0
        @media (max-width: 720px)
          font-size: 32px
      .slider-text
        +slider-text()
        margin-top: 23px
        max-width: 660px
        @media (max-width: 720px)
          font-size: 16px
          line-height: 1.5
          margin-top: 15px
          max-width: 520px
        @media (max-width: 500px)
          max-width: 320px
        p
          margin: 0
      .btn
        margin-top: 50px
        @media (max-width: 720px)
          margin-top: 35px
  &>.container-new
    position: relative
    height: 0
  .dots-wrapper
    position: absolute
    bottom: 50px
    @media (max-width: 900px)
      left: -45px
    ul
      display: flex
      padding: 0
      position: absolute
      margin: 0
      left: 110px
      bottom: 0
      li
        list-style: none
        button
          position: relative
          font-size: 0
          line-height: 0
          display: block
          width: 20px
          height: 20px
          padding: 5px
          cursor: pointer
          color: transparent
          border: 0
          outline: none
          background: transparent
          &:before
            font-size: 10px
            line-height: 20px
            position: absolute
            top: 0
            left: 0
            width: 8px
            height: 8px
            content: ''
            text-align: center
            color: black
            background-color: rgba(255, 255, 255, 0.4)
            border-radius: 50%
            transition: $t
      li.slick-active
        button
          &:before
            background-color: #ffffff
            width: 12px
            height: 12px
            top: -2.5px
            left: -1px
  &>.container-new
    position: relative
    height: 0
    .arrows-wrapper
      position: absolute
      bottom: 108px
      right: 0
      display: flex
      z-index: 1
      @media (max-width: 560px)
        bottom: 40px
      button
        position: relative
        font-size: 0
        line-height: 0
        display: block
        width: 20px
        height: 20px
        padding: 25px
        margin-right: 17px
        cursor: pointer
        color: transparent
        border: 0
        outline: none
        background: transparent
        &:before
          font-size: 10px
          line-height: 20px
          position: absolute
          top: 0
          left: 0
          content: ''
          text-align: center
          color: black
          border-radius: 50%
          width: 48px
          height: 48px
          background: url('../img/icons/slider-arrow-left.svg') $second-docura
          background-repeat: no-repeat
          background-position: 50% 50%
          transition: $t
        &:hover
          &:before
            background: url('../img/icons/slider-arrow-left.svg') $main-docura
            background-repeat: no-repeat
            background-position: 50% 50%
      button.slick-next
        &:before
          background: url('../img/icons/slider-arrow-right.svg') $second-docura
          background-repeat: no-repeat
          background-position: 50% 50%
        &:hover
          &:before
            background: url('../img/icons/slider-arrow-right.svg') $main-docura
            background-repeat: no-repeat
            background-position: 50% 50%
// .docura-icon-slider-leaf
//   background-image: url(../img/icons/slider-leaf.svg)
//   background-position: 0 0!important