.impressum-header
  padding-top: 82px
  &__slide
    background-position: 50% 50%
    background-size: cover
    height: 520px
    position: relative
    &:before
      position: absolute
      content: ''
      background-color: rgba(0, 0, 0, 0.2)
      top: 0
      left: 0
      height: 100%
      width: 100%
    .container-new
      position: relative
      height: 100%
      h4
        position: absolute
        +bold
        font-size: 48px
        color: #ffffff
        text-transform: uppercase
        left: 110px
        right: 110px
        bottom: 100px
        @media (max-width: 720px)
          font-size: 32px
          line-height: 45px
          left: 40px
          bottom: 126px
          right: 40px
        @media (max-width: 340px)
          bottom: 65px
  .impressum-content
    padding: 60px 0 0 0
    &__achtung
      background-color: $grey-bg
      padding: 45px 220px 55px 110px
      @media (max-width: 999px)
        padding: 45px 20px 55px 20px
      @media (max-width: 720px)
        padding-left: 40px
      h3
        margin-top: 0
        padding-bottom: 45px
        margin-bottom: 0
        +bold
        color: #ff5555
        font-size: 36px
        line-height: 1
        @media (max-width: 720px)
          font-size: 28px
          line-height: 42px
      div
        padding-left: 70px
        @media (max-width: 999px)
          padding-left: 60px
        @media (max-width: 720px)
          padding-left: 0
        p
          margin: 0
          font-size: 18px
          color: $black-headers
          line-height: 29px
    &__impressum
      padding: 0 220px 0 110px
      @media (max-width: 999px)
        padding: 0 20px 0 20px
      @media (max-width: 720px)
        padding-left: 40px
      h3
        margin-top: 0
        padding-bottom: 25px
        padding-top: 55px
        +bold
        color: $black-headers
        font-size: 36px
        line-height: 1
        margin-bottom: 0
        @media (max-width: 720px)
          font-size: 28px
          line-height: 42px
      div
        padding-left: 70px
        @media (max-width: 999px)
          padding-left: 60px
        @media (max-width: 720px)
          padding-left: 0
        p
          font-size: 18px
          line-height: 28px
          margin: 0
          a
            color: $links
            text-decoration: underline
            transition: $t
            &:hover
              text-decoration: none

