section.impressum-header
  .impressum-header__slide(style="background-image: url('img/impressum-header.jpg')")
    .container-new
      h4 Impressum bei NRV | WAAK
  .container-new.impressum-content
    .impressum-content__achtung
      h3 ACHTUNG!
      div
        p Wir sind Versicherungsmakler und keine Versicherung!
        p Bitte wenden Sie sich nur an uns, wenn Sie Interesse an einer neuen Versicherung haben oder bereits unser Kunde sind.
        p Ansonsten wenden Sie sich bitte immer direkt an Ihre Versicherung.
        p Unterlagen die doch an uns geschickt werden, können wir aus rechtlichen Gründen nicht bearbeiten oder weiterleiten!
    .impressum-content__impressum
      h3 IMPRESSUM
      div
        p XXV Versicherungsmakler GmbH & Co. KG
        p Herbststr. 3
        p 83620 Feldkirchen – Westerham
        br
        p Telefon:+49 (0) 8063 461 400 0
        p Fax: +49 (0) 8063 972 139 (Das ist nicht die Faxnummer von einer Versicherungsgesellschaft! Siehe Anmerkung oben!)
        p E-Mail: <a href="mailto:info@xxv24.de">info@xxv24.de</a>
        br
        p Steuer-Nr. 156/183/02102
        p Amtsgericht Traunstein, HRA 10549
        br
        p Komplementärin:
        br
        p XXV Versicherungsmakler Verwaltungs GmbH
        p Herbststr. 3, 83620 Feldkirchen – Westerham
        br
        p Amtsgericht Traunstein, HRB 20441
        br
        p Versicherungsvermittlerregister:
        p <a href="https://www.vermittlerregister.info/" target='_blank'> www.vermittlerregister.info</a>
        p Register-Nr.: D-MDZB-DR8JS-53
        br
        p Erlaubnis nach § 34 d Abs. 1 GewO, Versicherungsmakler
        p erteilt durch die IHK für München und Oberbayern, Max-Joseph-Str. 2, 80333 München
        br
        p Deutscher Industrie- und Handelskammer (DIHK) e.V., Breite Straße 29, 10178 Berlin, Telefon: 0180 600 58 50 (Festnetzpreis 0,20 €/ Anruf; Mobilfunkpreise maximal 0,60 €/ Anruf) <a href="https://www.vermittlerregister.info/" target='_blank'> www.vermittlerregister.info</a>
        br
        p XXV Versicherungsmakler GmbH & Co. KG ist ein unabhängiger Versicherungsmakler.
        br
        p Als unabhängiger Versicherungsmakler halten wir keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital eines Versicherungsunternehmens. Ein Versicherungsunternehmen hält ebenfalls keine direkten oder indirekten Beteiligungen an den Stimmrechten oder am Kapital unserer Unternehmen.
        br
        p Schlichtungsstellen:
        br
        p Versicherungsombudsmann e. V., Postfach 08 06 32, 10006 Berlin
        p <a href="https://www.versicherungsombudsmann.de/" target='_blank'> www.vermittlerregister.info</a>, Tel.: 0800 / 3696000
        br
        p Ombudsmann Private Kranken- und Pflegeversicherung, Postfach 06 02 22, 10052 Berlin
        p <a href="https://www.versicherungsombudsmann.de/" target='_blank'> www.vermittlerregister.info</a>, Tel.: 0800 / 3696000
        br
        p Rechtshinweise: Die auf unseren Internetseiten enthaltenen Angaben und Informationen wurden sorgfältig erstellt und ersetzen keine persönliche Beratung. Für Richtigkeit, Vollständigkeit und Aktualität übernehmen wir keine Haftung. Gleiches gilt auch für Websites, auf die über Hyperlink verwiesen wird. Es gilt ausschließlich deutsches Recht.
        br
        p Haftungsausschluss für Verweise und Links: XXV Versicherungsmakler GmbH & Co. KG übernimmt keine Haftung für Links/ Verweise zu anderen Internet-Seiten. XXV Versicherungsmakler GmbH & Co. KG hat keinen Einfluss auf die Gestaltung und auf die Inhalte der verlinkten Internet-Seiten. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung entstehen, haftet allein der Anbieter der verlinkten Internet-Seite. Dieser Haftungsausschluss gilt für alle Links/ Verweise auf den Seiten von XXV Versicherungsmakler GmbH & Co. KG.
        br
        p Hinweis zur EU-Verordnung Online-Streitbeteiligung (OS-Plattform):
        p Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie hier finden <a href="http://ec.europa.eu/consumers/odr/" target='_blank'> http://ec.europa.eu/consumers/odr/</a>. Verbraucher haben die Möglichkeit, diese Plattform für die Beilegung ihrer Streitigkeiten zu nutzen.
        br
        p Icons von <a href="#" target='_blank'>icons8</a>