//- meta
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

//320 символов
meta(name="description" content=headDescription)
//120 символов
meta(name="keywords" content=headKeywords)

//Colors in mobile browsers - start
//Chrome, Firefox OS and Opera
meta(name="theme-color" content="#000")
//Windows Phone
meta(name="msapplication-navbutton-color" content="#000")
//iOS Safari
meta(name="apple-mobile-web-app-status-bar-style" content="#000")
//Colors in mobile browsers - end

//Icons - start - generate image here http://realfavicongenerator.net/
link(rel='apple-touch-icon' sizes='180x180' href='/img/fav/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='/img/fav/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='/img/fav/favicon-16x16.png')
link(rel='manifest' href='/img/fav/site.webmanifest')
link(rel='mask-icon' href='/img/fav/safari-pinned-tab.svg' color='#5bbad5')
link(rel='shortcut icon' href='/img/fav/favicon.ico')
meta(name='msapplication-TileColor' content='#2ca688')
meta(name='msapplication-config' content='/img/fav/browserconfig.xml')
meta(name='theme-color' content='#ffffff')

//First screen styles
//style
//TODO remove
link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
link(rel='stylesheet', href='css/libs.min.css')
link(rel='stylesheet', href='css/main.docura-min.css')


script.

script
    ///include ../blocks/scriptinhead.js






