doctype html
html(lang='de')
    block vars
    head
        title #{title}
        block head
            - var headDescription = "main page"
            - var headKeywords = "words"
            include head
    body(class= bodyClass)
        block noscript
            include noscript

        block header

        block navigation
            //include navigation

        block content

        block footer
            //include footer

        block modals
            //include modals

        block scripts
            include scripts
