script(src='js/jquery.min.js')
script(src='js/html5shiv/html5shiv.min.js')
script(src='js/slick.min.js')
//TODO remove
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
script(src='js/relax/rellax.min.js')

script(type='text/javascript').
  var mrmoScrollToViewport = 1; / scroll die Website zum Anfang des iFrames /
  var mrmoScrollToViewportOffset = -20; / Versatz beim scrollen zum Anfang des iFrames, individuell je Website /
script(type='text/javascript' src='https://www.mr-money.de/iframeControls.js')

script(src='js/main.docura-min.js')