.products
  +main-text()
  &__items
    padding-left: 180px
    padding-right: 70px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    @media (max-width: 1249px)
      padding-left: 70px
    @media (max-width: 1199px)
      padding: 0
    @media (max-width: 1000px)
      flex-direction: column
      align-items: center
  &__item
    width: 480px
    height: 220px
    margin-bottom: 7rem
    border-radius: 4px
    background-size: auto 100%
    background-repeat: no-repeat
    background-position: center
    position: relative
    cursor: pointer
    outline: none
    transition: $t
    @media (max-width: 1000px)
      height: 295px
      width: 640px
      margin-bottom: 4rem
    @media (max-width: 700px)
      width: 100%
    @media (max-width: 360px)
      height: 145px
      margin-bottom: 3rem
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      z-index: 0
      height: 100%
      width: 100%
      background-color: rgba(0, 0, 0, 0.15)
      border-radius: 4px
    &:hover
      box-shadow: 0 20px 30px 0 rgba(150, 150, 150, 0.5)
    &:after
      content: ''
      background-image: url(../img/icons/green-arrow.svg)
      background-repeat: no-repeat
      background-position: 50%
      height: 28px
      width: 28px
      background-color: #fff
      border-radius: 50%
      position: absolute
      right: 40px
      bottom: 40px
      transition: $t
    &:hover:after
      right: 30px
  &__header
    position: absolute
    font-family: proximabold, sans-serif
    color: #ffffff
    z-index: 1
    text-transform: uppercase
    font-size: 21px
    line-height: 1.52
    width: 330px
    bottom: 38px
    left: 38px
    @media (max-width: 500px)
      width: 220px
      font-size: 14px
    @media (max-width: 360px)
      width: 180px
  hr
    margin: -1rem 20rem 0 20rem
    @media (max-width: 1249px)
      margin: -1rem 10rem 0 10rem
    @media (max-width: 1199px)
      margin: -1rem 0 0 0
    @media (max-width: 1000px)
      margin: 2rem 0 0 0
  a
    outline: none
  p
    margin: 0






