section.products#produkte
  .container-new
    h2.h2-docura Berechnen Sie die Kosten der Versicherung und kaufen Sie online
    .products__items
      a(href="product.html" style="background-image: url('	https://unsplash.it/500/200/?random1')").products__item
        p.products__header Privathaftpflicht
      a(href="product.html" style="background-image: url('img/product-2.jpg')").products__item
        p.products__header Hausrat Hausrat Hausrat Hausrat Hausrat
      a(href="product.html" style="background-image: url('https://unsplash.it/500/200/?random2')").products__item
        p.products__header Hausrat
      a(href="product.html" style="background-image: url('img/product-1.jpg')").products__item
        p.products__header Privathaftpflicht
      a(href="product.html" style="background-image: url('https://unsplash.it/500/200/?random3')").products__item
        p.products__header Privathaftpflicht
    hr