section.slider.product-slide
  .slider-wrapper
    .slide
      background-position: 50% top
      &:before
      .container-new
      .price-wrapper
        .docura-icon-slider-leaf
          .price-title-1,
          .price-title-2,
          .price
          .price-title-1
          .price-title-2
          .price
      h4
      .slider-text
        p
      .btn
  &>.container-new
  .dots-wrapper
    ul
      li
        button
          &:before
      li.slick-active
        button
          &:before
  &>.container-new
    .arrows-wrapper
      button
        &:before
        &:hover
          &:before
      button.slick-next
        &:before
        &:hover
          &:before


  .sertifficate-wrapper
    display: flex
    height: 70px
    position: absolute
    right: 0
    bottom: 0px
    img
      height: 100%
      width: auto
      margin-right: 20px
  .sertifficate-wrapper-small
    display: none
    position: static
    margin-top: 25px
    @media (max-width: 720px)
      display: flex!important
    @media (max-width: 500px)
      height: 50px
