section.slider.product-slide
  .slider-wrapper
    .slide(style="background-image: url('img/product-main.jpg')")
        .container-new
          .price-wrapper
            .icon.docura-icon-slider-leaf
              .price-title-1 Schon ab
              .price 192
                span  EUR
              .price-title-2 im Monat
          h4 Hausrat
          .slider-text
            p Schützen Sie alle Inhalte Ihres Haushalts. Sie müssen sich nicht länger sorgen
          .sertifficate-wrapper.sertifficate-wrapper-small
            img(src="img/sertifficate-1.png", alt="sertifficate-1")
            img(src="img/sertifficate-2.png", alt="sertifficate-2")
            img(src="img/sertifficate-3.png", alt="sertifficate-3")
          a.btn.btn-primary-docura Jetzt online abschließen
          .sertifficate-wrapper
            img(src="img/sertifficate-1.png", alt="sertifficate-1")
            img(src="img/sertifficate-2.png", alt="sertifficate-2")
            img(src="img/sertifficate-3.png", alt="sertifficate-3")
