section.advantages
  +main-text()
  .advantages__items
    display: flex
    flex-wrap: wrap
    padding-left: 180px
    padding-right: 180px
    @media (max-width: 1199px)
      padding-left: 0
      padding-right: 0
    .advantages__item
      width: 50%
      display: flex
      margin-bottom: 6.5rem
      justify-content: flex-start
      @media (max-width: 700px)
        width: 100%
      .advantages__img
        height: 80px
        width: 80px
        position: relative
        overflow: hidden
        margin-right: 4.4rem
        flex-shrink: 0
        width: 80px
        @media (max-width: 900px)
          margin-right: 1rem
        img
          position: absolute
          top: 0
          bottom: 0
          right: 0
          left: 0
          margin: auto
          max-width: 100%
          max-height: 100%
      .advantages__text-wrapper
        width: 310px
        @media (max-width: 800px)
          width: 200px
        @media (max-width: 700px)
          width: auto
        .advantages__text
          p
            margin: 0
  hr
    margin: -1rem 20rem 0 20rem
    @media (max-width: 1199px)
      margin: -1rem 0 0 0


