section.advantages#vorteile
  .container-new
    h2.h2-docura Warum ist es besser zu wählen Docura | Waak
    .advantages__items
      .advantages__item
        .advantages__img.rellax(data-rellax-speed="-0.3")
          img(src="img/kundenzufriedenheit.png", alt="kundenzufriedenheit")
        .advantages__text-wrapper
          h6.h6-docura Kundenzufriedenheit
          .advantages__text Die Bewertungen unserer Kunden bei Ausgezeichnet.org sprechen eine deutliche Sprache - die fast 100%ige Kundenzufriedenheit überzeugt.
      .advantages__item
        .advantages__img.rellax(data-rellax-speed="-0.3")
          img(src="img/icons/time.svg", alt="time")
        .advantages__text-wrapper
          h6.h6-docura In nur 5 minuten
          .advantages__text In “nur” 5 Minuten können Sie aus einer Vielzahl von Versicherungen den besten Versicherungstarif wählen und sofort online abschließen.
      .advantages__item
        .advantages__img.rellax(data-rellax-speed="-0.3")
          img(src="img/icons/lock.svg", alt="lock")
        .advantages__text-wrapper
          h6.h6-docura Sichere verbindung
          .advantages__text Ihre persönlichen Daten sind durch eine sichere 128 Bit Verschlüsselung geschützt.
      .advantages__item
        .advantages__img.rellax(data-rellax-speed="-0.3")
          img(src="img/icons/hend.svg", alt="hend")
        .advantages__text-wrapper
          h6.h6-docura Geldzurückgarantie
          .advantages__text Sie können jederzeit ohne Angabe von Gründen innerhalb von 14 Tagen zurücktreten und bekommen Ihr Geld zurück!
    hr

