section.step
  h2
    margin-bottom: 25px
  .step-content-wrapper
    padding-left: 110px
    padding-right: 70px
    @media (max-width: 900px)
      padding-left: 0
      padding-right: 0
    .step-items
      display: flex
      justify-content: space-between
      @media (max-width: 1100px)
        flex-wrap: wrap
      .step-item
        padding-right: 70px
        display: flex
        align-items: center
        position: relative
        margin-bottom: 60px
        @media (max-width: 1100px)
          width: 50%
          margin-bottom: 40px
          &:nth-of-type(2)
            &:before
              width: 0
              height: 0
              @media (max-width: 720px)
                height: 25px
                width: 1px
                height: 25px
                width: 1px
                left: 45px
                bottom: -35px
        @media (max-width: 720px)
          width: 100%
          padding-right: 0
          margin-bottom: 45px
        .img-wrapper
          height: 90px
          width: 90px
          background-color: $main-docura
          border-radius: 50%
          min-width: 90px
          margin-right: 20px
          position: relative
          overflow: hidden
          img
            position: absolute
            top: 0
            bottom: 0
            right: 0
            left: 0
            margin: auto
        .text-wrapper
          p
            margin: 0
            font-size: 16px
            line-height: 21px
        &:before
          content: ''
          height: 1px
          width: 25px
          background-color: $grey-subheaders
          position: absolute
          right: 25px
          @media (max-width: 720px)
            height: 25px
            width: 1px
            height: 25px
            width: 1px
            left: 45px
            bottom: -35px
        &:last-of-type
          padding-right: 0
          &:before
            width: 0
            height: 0
.subheader
  padding-left: 70px
  color: $grey-subheaders
  font-size: 27px
  +bold
  margin-bottom: 30px
  @media (max-width: 900px)
    padding-left: 60px
    font-size: 18px
  @media (max-width: 720px)
    padding-left: 0
