section.step#wieman1
  .container-new
    h2.h2-docura Nur noch drei Schritte zu Ihrem Schutz
    .step-content-wrapper
      .subheader Und so einfach funktionierts:
      .step-items
        .step-item
          .img-wrapper
            img(src="img/icons/calculator.svg", alt="calculator")
          .text-wrapper
            p 1. Tarif online anpassen und berechnen
        .step-item
          .img-wrapper
            img(src="img/icons/document.svg", alt="document")
          .text-wrapper
            p 2. Direkt online abschließen und absichern
        .step-item
          .img-wrapper
            img(src="img/icons/like.svg", alt="like")
          .text-wrapper
            p 3. Antrag im HDI Online - Kundenpoktal verwalten